body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f0f0f0;
}

#top_bar {
    width: 100%;
    padding: 10px;
    font-size: 40px;
}
.select-container {
    display: flex;
    align-items: center;
}

.submit-button {
    background-color: #4CAF50; /* Green color */
    color: white;
    padding: 10px 20px; /* Add some padding */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Indicate clickable state */
}

.submit-button:hover {
    background-color: #3e8e41; /* Darker green on hover */
}
.select-container select {
    margin-right: 10px; /* Add spacing between select and button */
}
.input-container {
    width: 50%;
    margin: 10px auto;
}
.document-details  {
    width: 1300px;
    height: 50%;
    font-family: monospace;
    min-width: 1300px;
    max-height: 1400px;
    min-height: 40vh;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 15px;
    overflow: auto;
}

.curved-dropdown {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 16px;
    box-sizing: border-box;
}

.document-text:focus {
    outline: none;  /* Remove outline on focus */
    placeholder: "";  /* Hide the placeholder text on focus */
}